<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Content Manager</title>
	<script>window.CMS_MANUAL_INIT=true;</script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
	<!-- Include the script that builds the page and powers Netlify CMS -->
	<script src="https://unpkg.com/netlify-cms"></script>
	<script>
		function genCol (name) {
			// eg Hebrew
			const first = name[0];
			const firstL = first.toUpperCase();
			return {
				name,
				label: firstL + first,
				label_singular: firstL + first + " word",
				folder: "public/"+name.toLowerCase(),
				slug: "{{slug}}",
				create: false,
				extension: 'json',
				fields: [
					{label: "Number", name: "title", widget: "number"},
					{label: "Lemma", name: "lemma", widget: "string"},
					{label: "Transliteration", name: "xlit", widget: "string"},
					{label: "Pronunciation", name: "pron", widget: "string"},
					{label: "Derivation", name: "derivation", widget: "string"},
					{label: "Definition", name: "strongs_def", widget: "text"},
					{label: "Forms", name: "forms", widget: "text"},
                    {label: "Verses", name: "refs", wigdet: "text"}
				],
				editor: {
					preview: false
				},
				sortable_fields: ['lemma']
			}
		}
		let url = document.location.origin;
		CMS.init({
			config: {
				backend: {
					name: 'git-gateway',
					branch: 'main',
				},
				site_url: url,
				media_folder: 'public/assets',
				public_folder: '/assets',
                show_preview_links: false,
				collections: [
					genCol('hebrew'), genCol('greek')
				],
			}
		});
	</script>
</body>

</html>
